.app-main {
    width: 70%;
    height: 100vh;
}

.app-main-note-edit,
.app-main-note-preview {
    height: 50vh;
}

.app-main-note-edit {
    padding: 25px;
}

.app-main-note-edit input,
textarea {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 5px;
    resize: none;
    font-size: 1rem;
}

.app-main-note-edit input {
    height: 50px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.app-main-note-preview {
    border-top: 1px solid #ddd;
    overflow-y: auto;
    background-color: rgba(255, 0, 0, 0.1);
    position: relative;
}

.preview-area-title {
    background-color: #bdbdbd;
    padding: 3px 1em;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #3d3d3d;
}

.preview-title {
    padding: 40px 25px 0 25px;
    margin: 0;
}

.markdown-preview {
    padding: 25px 25px 0 25px;
    line-height: 2rem;
}

.no-active-note {
    margin: auto;
    font-size: 1.5rem;
    color: #999;
}